
.icon-buscar:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-casa:before { content: '\e802'; } /* '' */
.icon-corazon:before { content: '\e803'; } /* '' */
.icon-carrito:before { content: '\e804'; } /* '' */
.icon-usuario:before { content: '\f2be'; } /* '' */